In [37]:
#%matplotlib inline
#import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import xlrd
import xlsxwriter
pd.set_option('display.max_colwidth', -1)

#Import libraries

In [38]:
#xls_file = pd.ExcelFile('EducationLevels2011.xls')
#xls_file
#df = xls_file.parse()
#df
#df.drop(df.index[[14,15,16,17,18]])

#Read in full census education data and clean up

In [39]:
xls_file_full = pd.ExcelFile('nomis_2017_11_29_112403.xlsx.xls')
xls_file_full
df_full = xls_file_full.parse()
df_full_edit = df_full.drop(df_full.index[[0, 1, 2, 3, 4, 5, 6, 7]])
df_full_edit_2 = df_full_edit[:-2]
df_full_edit_2.columns._data[0] = 'Local Authority'
df_full_edit_2.columns._data[1] = 'All Categories'
df_full_edit_2.columns._data[2] = 'No Qualifications'
df_full_edit_2.columns._data[3] = 'Level 1 Qualifications'
df_full_edit_2.columns._data[4] = 'Level 2 Qualifications'
df_full_edit_2.columns._data[5] = 'Apprenticeship'
df_full_edit_2.columns._data[6] = 'Level 3 Qualifications'
df_full_edit_2.columns._data[7] = 'Level 4 Qualifications and above'
df_full_edit_2.columns._data[8] = 'Other Qualifications'
df_full_edit_2 = df_full_edit_2[['Local Authority', 'No Qualifications', 'Level 1 Qualifications', 'Level 2 Qualifications', 'Apprenticeship', 'Level 3 Qualifications', 'Level 4 Qualifications and above', 'Other Qualifications', 'All Categories']]
#df_full_edit_2['Local Authority'] = df_full_edit_2.Column1.str.replace('uacounty09:' , '')
#df_full_edit_2['Local Authority'].str.replace('uacounty09:','')
df_full_edit_2['Local Authority'].replace(regex=True,inplace=True,to_replace=r'uacounty09:',value=r'')
df_full_edit_2['Local Authority'].replace(regex=True,inplace=True,to_replace=r'ualad09:',value=r'')
df_full_edit_2['Local Authority'].replace(regex=True,inplace=True,to_replace=r'ccg2011:',value=r'')

# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('EducationData.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df_full_edit_2.to_excel(writer, sheet_name='Sheet1')

#df_full_edit_2.to_csv("Education_Census_Data.csv")
df_full_edit_2

,Local Authority,No Qualifications,Level 1 Qualifications,Level 2 Qualifications,Apprenticeship,Level 3 Qualifications,Level 4 Qualifications and above,Other Qualifications,All Categories
8,County Durham,115207,52636,61716,16419,52045,80228,15934,394185
9,Hartlepool,22521,9539,11175,3729,8471,12398,2819,70652
10,Middlesbrough,32667,15457,17863,4845,15572,26984,5343,118731
11,Northumberland,61753,32865,39336,10988,27925,56532,9462,238861
12,Redcar and Cleveland,30938,13337,15799,5818,12049,18494,4060,100495
13,Stockton-on-Tees,37231,21867,26352,8083,20934,33020,6216,153703
14,Gateshead,46616,24140,25913,8793,19005,33407,6830,164704
15,Newcastle upon Tyne,56583,32588,38493,9531,47670,86017,11806,282688
16,North Tyneside,38576,21789,25046,7940,18439,35455,5992,153237
17,South Tyneside,33376,15376,16472,6597,11630,19979,4432,107862
18,Sunderland,65905,35818,38334,11505,27699,43486,9148,231895
19,Blackburn with Darwen,32237,16332,17744,4690,13527,25566,7103,117199
20,Blackpool,36016,17768,19808,4651,13489,21525,5216,118473
21,Cheshire East,61212,38290,50121,12792,39183,91460,12094,305152
22,Cheshire West and Chester,57557,36964,44143,10865,35982,73333,10740,269584
23,Halton,27032,16346,17613,3919,12003,19771,3982,100666
24,Warrington,35761,26483,30324,7219,22943,47724,7202,177656
25,Cumbria,100938,57009,66722,22449,51646,101437,16819,417020
26,Bolton,57214,29984,33721,9016,25363,45014,10974,211286
27,Bury,32820,18782,22762,4926,16421,31138,6431,133280
28,Manchester,97526,58263,66999,9335,79174,170603,30187,512087
29,Oldham,50612,23960,25705,6964,18937,31842,9191,167211
30,Rochdale,46818,22707,24809,5876,17922,28607,8551,155290
31,Salford,50843,26580,29799,6722,23870,48397,9447,195658
32,Stockport,47717,30181,35796,9195,27153,59463,9034,218539
33,Tameside,47259,23482,24920,7008,17310,27123,7085,154187
34,Trafford,36786,27043,33798,7134,26723,58894,9450,199828
35,Wigan,68304,34275,37209,10608,25539,40495,9173,225603
36,Lancashire,225724,122975,148101,43252,126936,224597,43239,934824
37,Knowsley,39373,16086,17016,4170,12540,19761,3771,112717
...,...,...,...,...,...,...,...,...,...
710,NHS Coastal West Sussex,86296,50967,62083,14300,44258,94640,18910,371454
711,NHS Crawley,17765,18186,18499,3475,13443,29458,7688,108514
712,NHS East Surrey,22865,17339,22388,3895,16090,40573,6183,129333
713,"NHS Eastbourne, Hailsham and Seaford",35411,19416,23131,5319,16375,32610,7511,139773
714,NHS Guildford and Waverley,24453,18838,25804,4762,23887,65857,8563,172164
715,NHS Hastings & Rother,36786,20758,23679,4755,15954,31717,6802,140451
716,NHS High Weald Lewes Havens,24510,17119,21135,4366,15272,36454,5380,124236
717,NHS Horsham and Mid Sussex,26967,22608,28586,5648,20729,49290,7484,161312
718,NHS North West Surrey,46772,34259,38844,8564,29892,86693,16515,261539
719,NHS Surrey Downs,34923,25228,33317,5902,24646,75930,11052,210998
720,NHS Surrey Heath,11892,9690,11348,2449,8398,22560,3850,70187
721,NHS Aylesbury Vale,26171,19188,22759,5326,16348,40523,6588,136903
722,NHS Bracknell and Ascot,16150,13974,16062,3008,12342,35570,5172,102278
723,NHS Chiltern,41539,29398,36891,8528,28456,79288,13448,237548
724,NHS Newbury and District,15348,12805,14741,3599,11475,30345,4175,92488
725,NHS North & West Reading,12403,8424,9288,2545,7085,19661,3118,62524
726,NHS Oxfordshire,88267,64833,74365,18627,71843,185626,27027,530588
727,NHS Slough,21152,16002,14765,2917,11642,34430,13101,114009
728,NHS South Reading,15753,13783,14174,2489,15907,38853,6975,107934
729,"NHS Windsor, Ascot and Maidenhead",17472,13254,16067,3212,14784,40038,7237,112064
730,NHS Wokingham,16160,13148,16658,3886,13582,41819,5443,110696
731,NHS Dorset,129113,83713,101131,27872,79427,158092,30121,609469
732,NHS Fareham and Gosport,30001,20230,23991,7713,17778,34060,5862,139635
733,NHS Isle of Wight,27965,16535,18988,5698,13737,24849,5098,112870
734,NHS North East Hampshire and Farnham,25336,20651,24097,5368,18684,46430,7957,148523
735,NHS North Hampshire,29128,23876,28053,6415,22104,52982,8147,170705
736,NHS Portsmouth,35868,23574,27596,7436,31735,45464,8487,180160
737,NHS South Eastern Hampshire,35406,20963,25670,6766,17795,37004,6223,149827
738,NHS Southampton,38959,24327,27312,6849,33687,53831,10831,195796
739,NHS West Hampshire,83584,59707,74854,21331,58284,132081,19980,449821

#Read in vets csv file and clean up

In [40]:
csv_file = pd.read_csv('HLQPUK11-composite.csv')
csv_file_edit = csv_file.drop('SECTION', axis=1)
csv_file_edit.columns._data[0] = 'Local Authority'
#csv_file_edit.columns._data[1] = 'All Categories'
csv_file_edit.columns._data[1] = 'No Qualifications'
csv_file_edit.columns._data[2] = 'Level 1 Qualifications'
csv_file_edit.columns._data[3] = 'Level 2 Qualifications'
csv_file_edit.columns._data[4] = 'Apprenticeship'
csv_file_edit.columns._data[5] = 'Level 3 Qualifications'
csv_file_edit.columns._data[6] = 'Level 4 Qualifications and above'
csv_file_edit.columns._data[7] = 'Other Qualifications'
#csv_file_edit["All Categories"] = csv_file_edit['No Qualifications'] + csv_file_edit['Level 1 Qualifications'] + csv_file_edit['Level 2 Qualifications'] + csv_file_edit['Apprenticeship'] + csv_file_edit['Level 3 Qualifications'] + csv_file_edit['Level 4 Qualifications and above']# + csv_file_edit['Other Qualifications']
csv_file_edit["All Categories"] = csv_file_edit.sum(axis=1)

# Convert the dataframe to an XlsxWriter Excel object.
csv_file_edit.to_excel(writer, sheet_name='Sheet2')
# Close the Pandas Excel writer and output the Excel file.
writer.save()

#csv_file_edit.to_csv("Education_Vet_Data.csv")
csv_file_edit

,Local Authority,No Qualifications,Level 1 Qualifications,Level 2 Qualifications,Apprenticeship,Level 3 Qualifications,Level 4 Qualifications and above,Other Qualifications,All Categories
0,Barking and Dagenham,240,180,160,30,90,150,70,850
1,Barnet,180,160,170,40,140,450,80,1140
2,Bath and North East Somerset,240,280,300,120,310,960,80,2210
3,Bedford,230,340,290,110,270,660,90,1900
4,Bexley,300,380,280,90,230,460,110,1740
5,Blackburn with Darwen,340,350,300,100,230,360,90,1680
6,Blackpool,650,530,510,150,340,560,170,2740
7,Blaenau Gwent,240,190,180,60,120,190,60,980
8,Bournemouth,360,400,410,150,320,770,110,2410
9,Bracknell Forest,220,330,300,90,250,670,110,1860
10,Brent,110,80,90,20,90,250,90,640
11,Bridgend,460,450,440,190,420,710,150,2670
12,Brighton and Hove,360,360,310,90,270,760,90,2150
13,"Bristol, City of",650,690,610,170,550,1540,160,4210
14,Bromley,280,400,330,90,260,900,120,2260
15,Buckinghamshire,550,930,940,280,860,2790,230,6350
16,Caerphilly,770,600,580,160,460,690,180,3260
17,Cambridgeshire,1160,1610,1670,640,1540,4080,470,10700
18,Camden,80,60,80,20,90,460,20,790
19,Cardiff,770,620,670,210,480,1190,220,3940
20,Carmarthenshire,600,550,550,210,420,800,190,3130
21,Central Bedfordshire,400,660,640,200,560,1310,180,3770
22,Ceredigion,150,170,170,60,130,300,60,980
23,Cheshire East,690,810,800,260,700,1660,200,4920
24,Cheshire West and Chester,910,1050,990,320,820,1790,290,5880
25,City of London,10,0,10,0,0,50,0,70
26,Conwy,370,390,400,110,320,630,130,2220
27,Cornwall,1470,2130,2400,780,2010,4510,590,13300
28,County Durham,2390,2070,2250,590,1680,2600,610,11580
29,Croydon,320,350,320,80,260,620,100,1950
...,...,...,...,...,...,...,...,...,...
1031,Waveney,300,330,300,120,260,430,110,1740
1032,Waverley,140,180,200,50,200,860,70,1630
1033,Wealden,230,310,300,90,240,680,90,1850
1034,Wellingborough,210,260,200,70,150,310,80,1200
1035,Welwyn Hatfield,110,140,140,50,120,290,40,850
1036,West Berkshire,250,360,370,130,350,1070,80,2530
1037,West Devon,140,190,190,70,190,580,90,1360
1038,West Dorset,210,310,340,140,320,970,100,2290
1039,West Lancashire,350,330,330,80,220,480,90,1790
1040,West Lindsey,340,420,390,170,390,820,140,2530
1041,West Oxfordshire,210,380,410,170,400,1000,110,2570
1042,West Somerset,90,100,90,40,80,200,40,600
1043,Westminster,100,90,90,20,100,590,40,990
1044,Weymouth and Portland,300,400,440,190,380,700,120,2410
1045,Wigan,880,940,980,250,710,1020,250,4780
1046,Wiltshire,1550,2410,2590,760,2350,6960,760,16620
1047,Winchester,170,310,340,110,300,1350,90,2580
1048,Windsor and Maidenhead,200,270,240,70,240,760,70,1780
1049,Wirral,1020,1080,1120,290,850,1480,290,5840
1050,Woking,110,130,120,40,140,500,40,1040
1051,Wokingham,160,250,250,110,240,980,80,1990
1052,Wolverhampton,530,420,420,90,300,490,130,2250
1053,Worcester,260,320,300,110,220,520,70,1730
1054,Worthing,190,260,230,80,210,440,70,1410
1055,Wrexham,460,440,420,130,310,570,120,2330
1056,Wychavon,220,310,280,90,230,630,90,1760
1057,Wycombe,160,270,290,90,290,890,70,1990
1058,Wyre,310,330,350,110,250,550,100,1900
1059,Wyre Forest,270,290,240,70,180,370,90,1420
1060,York,580,570,540,240,540,1180,190,3650